.error-tile {
    width: 250px;
    border: 1.5px dashed darkred;
    border-radius: 20px;
    position: fixed;
    right: 0;
    z-index: 100;
    background-color: rgb(10, 10, 10);
    color: rgb(200, 200, 200);
    padding: 10px;
    margin: 10px;
    animation: error-fade 6s linear;
    opacity: 0;
}

@keyframes error-fade {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}