#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 30px;
    border-top: 1px solid rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.footer-link {
    float: left;
    color: rgb(70, 70, 70);
    font-size: 15px;
    margin: 10px;
}