#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid rgb(30, 30, 30);
}

#location-inputs * {
    margin-right: 5px;
}

#location-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Location-chooser {
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 5px;
    border: 1px rgb(50, 50, 50) solid;
}

#Location-chooser option[disabled]:first-child {
    display: none;
}

#Location-chooser:focus {
    outline: none !important;
    border: 1px dotted white;
}

.location-input {
    background-color: rgb(30, 30, 30);
    color: white;
    border: 1px rgb(50, 50, 50) solid;
    padding: 5px;
    font-size: 15px;
}

.location-input:focus {
    outline: none !important;
    border: 1px dotted white;
}

.location-input:hover {
    border: 1px dotted white;
}

#get-weather {
    font-size: 15px;
    background-color: rgb(30, 30, 30);
    color: lightgray;
    border: 2px dashed rgb(100, 100, 100);
    padding: 5px;
}

#get-weather:hover {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
}

#get-geoloc {
    font-size: 15px;
    background-color: rgb(30, 30, 30);
    color: lightgray;
    border: 2px dashed rgb(100, 100, 100);
    padding: 5px;
}

#get-geoloc:hover {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
}