.sidelist-container {
    margin: 10px 0 0 15px;
    padding: 0 15px 15px 0;
    position: fixed;
    border: dashed gray;
    border-width: 0 1px 1px 0;
}

.sidelist-title {
    text-align: left;
    clear: right;
    font-size: 20px;
}

.sidelist-item {
    width: 80%;
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
}

.sidelist-text {
    text-decoration: underline;
    display: inline;
}

.sidelist-item:before {
    content: '-> ';
}

.sidelist-item:hover {
    cursor: pointer;
    color: white;
}

.sidelist-item:hover .sidelist-text {
    text-decoration: none;
}