.sidelist-container {
    margin: 10px 0 0 15px;
    padding: 5px 0 5px 15px;
    position: fixed;
    border-left: 1px dashed grey;
}

.sidelist-title {
    text-align: left;
    clear: right;
    font-size: 20px;
}

.sidelist-item {
    width: 90%;
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
}

.sidelist-text {
    text-decoration: underline;
    display: inline;
}

.sidelist-item:before {
    content: '-> ';
}

.sidelist-item:hover {
    cursor: pointer;
    color: white;
}

.sidelist-item:hover .sidelist-text {
    text-decoration: none;
}