#weather-statistics {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: auto;
    width: 80%;
}

.location {
    font-size: 28px;
}

.timezone {
    font-size: 24px;
}

#weather-statistics > * {
    margin: 10px auto 10px auto;
}

#weather-statistics .hour-tile {
    margin: 0;
}

#day-chooser {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.day-button-active {
    border: 1px dashed rgb(50, 120, 50);
    color: darkgreen;
}

#day-chooser * {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    font-size: 16px;
    
}

.day-button {
    border: 1px dashed rgb(50, 50, 50);
    background-color: transparent;
    color: gray;
}

#day-chooser .day-button:hover {
    cursor: pointer;
    color: white;
}

.current-weather {
    border: 1px solid gray;
    width: 30%;
    font-size: 20px;
}

.current-weather * {
    margin: 10px;
}

.hourly-weather {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80%;
    height: 100%;
}

#hourly-container {
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    margin: 0 auto 15px auto;
    height: 400px;
}

.hour-tile {
    background-color: transparent;
    color: gray;
    border: 1px solid gray;
    padding: 10px;
    font-size: 20px;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.daily-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.daily-weather * {
    margin: 0px;
    padding: 5px;
}

.disclaimer {
    font-size: 12px;
    color: rgb(60, 60, 60);
}

.separator {
    border-top: 1.5px solid gray;
    width: 80%;
}