#weather-statistics {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.location {
    font-size: 28px;
}

.timezone {
    font-size: 24px;
}

#weather-statistics * {
    margin: 10px auto 10px auto;
}

#day-chooser {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.day-button-active {
    border: 1px dashed rgb(50, 120, 50);
    color: darkgreen;
}

#day-chooser * {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    font-size: 16px;
    
}

.day-button {
    border: 1px dashed rgb(50, 50, 50);
    background-color: transparent;
    color: gray;
}

#day-chooser .day-button:hover {
    cursor: pointer;
    color: white;
}



.current-weather {
    border: 1px solid white;
    width: 20%;
    font-size: 20px;
}

.hourly-weather {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#hourly-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.hour-tile {
    background-color: gray;
    color: black;
    width: 10%;
    padding: 10px;
    font-size: 20px;
}

.disclaimer {
    font-size: 12px;
    color: rgb(60, 60, 60);
}