#weather-statistics {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.location {
    font-size: 28px;
}

.timezone {
    font-size: 24px;
}

#weather-statistics * {
    margin: 10px auto 10px auto;
}

.current-weather {
    border: 1px solid white;
    width: 20%;
    font-size: 20px;
}

.hourly-weather {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.hour-tile {
    background-color: gray;
    color: black;
    width: 10%;
    padding: 10px;
    font-size: 20px;
}