#weather-statistics {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: auto;
    width: 80%;
    height: 100%;
    position: relative;
    animation: weather-fadein 1s linear, weather-move 2s linear;
    border-left: 1px solid rgb(40, 40, 40);
}

@keyframes weather-fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes weather-move {
    100% {
        transform: translate(0, 0);
    }
}

.location {
    font-size: 28px;
}

.timezone {
    font-size: 24px;
}

#weather-statistics > * {
    margin: 10px auto 10px auto;
}

#weather-statistics .hour-tile {
    margin: 0;
}

#day-chooser {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.day-button-active {
    border: 2px solid rgb(50, 120, 50);
    color: rgb(92, 179, 92);
    transition: 0.5s all;
}

#day-chooser * {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    font-size: 16px;
    
}

.day-button {
    border: 2px dashed rgb(80, 80, 80);
    background-color: transparent;
    color: gray;
    transition: all 0.25s;
}

#day-chooser .day-button:hover {
    cursor: pointer;
    color: white;
    border-style: solid;
}

.current-weather {
    border: 1px solid lightskyblue;
    width: 30%;
    font-size: 20px;
}

.current-weather * {
    margin: 10px;
}

.hourly-weather {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80%;
    height: 100%;
}

#hourly-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin: 0 auto 15px auto;
}

.hour-tile {
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px;
    font-size: 18px;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hour-tile > * {
    margin-bottom: 10px;
}

.hour-tile span {
    text-align: center;
}

.hour-icon {
    width: 30px;
    height: 30px;   
}

.htcolor-red {
    color: red;
    border-color: red;
}

.htcolor-orange {
    color: orange;
    border-color: orange;
}

.htcolor-blue {
    color: lightsteelblue;
    border-color: lightsteelblue;
}

.htcolor-white {
    color: white;
    border-color: white;
}

.htcolor-gray {
    color: gray;
    border-color: gray;
}

.daily-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.daily-weather * {
    margin: 0px;
    padding: 5px;
}

.disclaimer {
    font-size: 12px;
    color: rgb(60, 60, 60);
}

.separator {
    border-top: 1.5px solid whitesmoke;
    width: 80%;
}